{% load static %}
<footer class="grid bg-primary p-8 md:p-12 text-white gap-4 lg:gap-5">
    <div class="grid md:justify-around md:p-4 gap-8 md:gap-0 md:flex md:border-x-2 md:border-secundary">
        {% include 'footer/components/FooterEscudoLG.html' %}
        {% include 'footer/components/FooterNavSection.html' %}
        {% include 'footer/components/FooterContactSection.html' %}
        {% include 'footer/components/FooterAliadosSection.html' %}  
    </div>
    {% include 'footer/components/FooterCopySection.html' %}
</footer>