{% extends 'index.html' %}{% block title %}Inicio{% endblock%}{% load static %}

{% block content %}
<section class="grid gap-6 md:gap-12">
    {% include 'components/CarruselInicio.html' %}
    <div class="flex gap-y-4 gap-x-10 flex-col md:flex-row">
        <section class="flex flex-col justify-center items-center gap-y-4 flex-1">
            <h2 class="text-primary text-center text-[20px] font-source font-bold md:text-[24px] uppercase">Ultima noticia</h2>
            {% if noticia %}
                {% for n in noticia %}
                    <article class="relative aspect-auto w-[19rem] h-[19rem] md:w-[24rem] md:h-[24rem] items-hover">
                        <a href="{% url 'noticias:noticia' year=n.fecha.year month=n.fecha.month day=n.fecha.day id=n.id %}">
                            {% include 'components/UltimaNoticia.html' %}
                        </a>
                    </article>
                {% endfor %}
            {% endif %}
        </section>
        {% include 'components/Zeti.html' %}
    </div>
    {% include 'components/ManualConvivencia.html' %}
    {% include 'components/InformaciónItems.html' %}
</section>
{% endblock %}