{% load static %}
<!-- Header Nav Section -->
<button id="menu-btn" class="lg:hidden z-30 text-white">
    <svg class="w-9 h-9" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>

</button>
<nav id="nav-menu" class="flex-1 flex items-center justify-center transform translate-y-full opacity-0 bg-primary/90 backdrop-blur lg:bg-[#006400] overflow-hidden shadow-xl transition-all duration-200
    lg:transform-none lg:opacity-100 lg:block fixed lg:static bottom-0 top-0 h-full left-0 right-0 z-10">
    <ul class="flex flex-col lg:flex-row text-[16px] justify-between text-center items-center"> 
        <li class="relative flex-grow">
            <a href="{% url 'inicio' %}" class="nav-link" title="Hogar">
                <img class="w-6 mx-auto pb-1" src="{% static 'icons/header/home.svg' %}" alt="Logo de la pagina principal" width="24" height="24">
                    HOGAR
            </a>
        </li>
        <li class="relative flex-grow">
            <a href="{% url 'noticias:noticias' %}" class="nav-link" title="Noticias">
                <img class="w-6 mx-auto pb-1" src="{% static 'icons/header/notice.svg' %}" alt="Logo del apartado de Noticias" width="24" height="24">
                    NOTICIAS
            </a>
        </li>
        <li class="relative flex-grow">
            <a href="{% url 'eventos' %}" class="nav-link" title="Eventos">
                <img class="w-6 mx-auto pb-1" src="{% static 'icons/header/calendar.svg' %}" alt="Logo del apartado de Eventos" width="24" height="24">
                    EVENTOS
            </a>
        </li>
        <li class="relative flex-grow">
            <a href="{% url 'implementaciones' %}" class="nav-link" title="Implementaciones">
                <img class="w-6 mx-auto pb-1" src="{% static 'icons/header/implement.svg' %}" alt="Logo del apartado de Implementaciones" width="24" height="24">
                IMPLEMENTACIONES
            </a>
        </li>
        <li class="relative flex-grow">
            <a href="{% url 'institucional' %}" class="nav-link" title="Institucional">
                <img class="w-6 mx-auto pb-1" src="{% static 'icons/header/institute.svg' %}" alt="Logo del apartado de Institucional" width="24" height="24">
                INSTITUCIONAL
            </a>
        </li>
    </ul>
</nav>