{% load static %}
<!-- Header Title Section -->
<section class="flex items-center w-fit border-secundary gap-2 lg:gap-4 lg:ml-4 z-30">
    <img class="w-[3rem] h-auto aspect-square shadow-xl bg-white rounded-full lg:w-[4rem]"
        src="{% static 'images/ineterpo.webp' %}" 
        alt="Logo del INETERPO" width="100" height="100" loading="lazy">
    <h1 class="text-white font-source font-bold text-[2rem] leading-none border-secundary cursor-default border-l-2 pl-2 lg:text-4xl lg:pl-4"
        title="Institución Educativa Técnica Comercial Teófilo Roberto Potes">INETERPO</h1>
</section>