{% extends 'index.html' %}{% load static %}{% load social_share %}

{% block content %}
<main class="grid gap-y-4 mx-auto mb-8 p-2 max-w-[1140px] w-full">
    <section class="grid gap-2">
        <div class="flex flex-wrap items-center gap-y-2 justify-between">
            <h1 class="text-2xl md:text-4xl font-source max-w-[40ch] font-bold">
                {% block title %}{{ objeto.titulo }}{% endblock %}
            </h1>
            <div class="flex gap-2 md:flex-col">
                {% post_to_facebook object_or_url "<img src='https://cdn-icons-png.flaticon.com/128/5968/5968764.png' width='32'>" %}
                {% post_to_whatsapp object_or_url "<img src='https://cdn-icons-png.flaticon.com/128/3670/3670051.png' width='32'>" %}
            </div>
        </div>
        <div class="flex items-center pt-2 justify-between gap-4 border-t-2 border-black md:gap-8"> 
            <p class="text-[0.875rem] md:text-[1rem] font-source font-extralight italic lowercase bg-primary px-2 py-1 text-white">
                {{ objeto.formatted_fecha }} - {{ objeto.fecha|time }}
            </p>
            {% if objeto.tipo %}
                <p class="text-end text-[0.875rem] md:text-[1rem] font-source font-light uppercase text-red-700">
                    {{ objeto.tipo }} - {{ objeto.jornada }}
                </p>
            {% endif %}
        </div>
    </section>
    
    <section class="flex flex-col gap-2">
        <!-- Sección de archivos multimedia -->
        <div class="flex-1">
            {% if objeto.archivos.exists %}
            <div class="relative overflow-hidden">
                <ul class="flex w-full transition-transform duration-500 ease-in-out aspect-auto" id="carousel">
                    {% for archivo in objeto.archivos.all %}
                        {% if archivo.archivo %}
                            {% with archivo.archivo.url as file_url %}
                                <li class="w-full flex-shrink-0 transition-transform aspect-auto">
                                    {% include "components/archivo_render.html" %}
                                </li>
                            {% endwith %}
                        {% elif archivo.archivo_url %}
                            {% with archivo.archivo_url as file_url %}
                                <li class="w-full flex-shrink-0 transition-transform aspect-auto">
                                    {% include "components/archivo_render.html" %}
                                </li>
                            {% endwith %}
                        {% endif %}
                {% endfor %}
                </ul>
                {% if objeto.archivos.count > 1 %}
                <button class="absolute left-0 top-1/2 -translate-y-1/2 bg-primary p-2 text-white hover:bg-primary/80" id="prevBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>
                </button>
                <button class="absolute right-0 top-1/2 -translate-y-1/2 bg-primary p-2 text-white hover:bg-primary/80" id="nextBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                </button>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="prose md:prose-lg max-w-none font-source leading-[1.5] text-black/80">
            {{ objeto.descripcion|safe }}
        </div>
    </section>
</main>
{% endblock %}