{% load static %}
<!--Seccion de Contactos-->
<section class="flex flex-col gap-4">
        <div class="flex items-center gap-1.5 lg:mx-0">
            <img class="w-6 h-6 lg:w-5 lg:h-5" 
                src="{% static 'icons/footer/contactos.svg' %}" alt="Icono de Contactos">
            <h1 class="text-base font-source font-semibold lg:text-[1.2rem] uppercase">Contactos:</h1>
        </div>
        <div class="flex flex-col font-source font-extralight">
            <span class="text-[1.1rem]"><span class="font-source font-semibold">Celular:<br></span class="text-[1rem]">XXX-XXX-XXXX</span>
            <span class="text-[1.1rem]"><span class="font-source font-semibold">Correo:<br></span class="text-[1rem]">ineterpo@example.com</span>
            <span class="text-[1.1rem]"><span class="font-source font-semibold">Dirección:<br></span class="text-[1rem]">KR XXX XXX XXXX</span>
        </div>
</section>