<nav class="flex flex-col gap-6">
    <h1 class="font-source font-semibold text-[1.2rem] uppercase">Contenido:</h1>
    <ul class="flex flex-col font-source font-extralight text-base">
        <li>
            <a class="underline text-[1.1rem]"
                href="{% url 'inicio' %}">Hogar</a>
        </li>
        <li>
            <a class="underline text-[1.1rem]"
                href="{% url 'noticias:noticias' %}">Noticias</a>
        </li>
        <li>
            <a class="underline text-[1.1rem]"
                href="{% url 'eventos' %}">Eventos</a>
        </li>
        <li>
            <a class="underline text-[1.1rem]"
                href="{% url 'implementaciones' %}">Implementaciones</a>
        </li>
        <li>
            <a class="underline text-[1.1rem]"
                href="{% url 'institucional' %}">Institucional</a>
        </li>
    </ul>
</nav>