{% load static %}
<!-- Otras Noticias Section -->
<div class="w-full h-full flex-grow aspect-square">
    {% if noticia.archivos.first.es_imagen %}
        {% if noticia.archivos.first.archivo %}
            <img class="w-full h-full object-top object-cover aspect-square" 
                src="{{ noticia.archivos.first.archivo.url }}" 
                alt="Imagen de la noticia {{ noticia.titulo }}" loading="lazy" width="200" height="200">
        {% elif noticia.archivos.first.archivo_url %}
            <img class="w-full h-full object-top object-cover aspect-square" 
                src="{{ noticia.archivos.first.archivo_url }}" 
                alt="Imagen de la noticia {{ noticia.titulo }}" loading="lazy" width="200" height="200">
        {% endif %}
    {% else%}
        <img class="w-full h-full object-top object-cover aspect-square"
            src="{% static 'images/ineterpo.webp' %}"
            alt="Imagen de la noticia {{ noticia.titulo }}" loading="lazy" width="200" height="200">
    {% endif %}
</div>
<small class="absolute top-0 right-0 px-2 py-1 lowercase bg-primary text-white text-[10px] md:text-[12px] font-source font-medium"> {{ noticia.formatted_fecha }} </small>
<div class="flex flex-col flex-grow py-2 min-h-[87.48px] md:min-h-[92.63px] lg:min-h-[100.88px]">
    <p class="text-[9.5px] font-source font-medium tracking-wider uppercase text-red-700 lg:text-[12px]">{{ noticia.tipo }}</p>
    <h1 class="text-black font-playfair font-semibold truncate text-[1rem] lg:text-[19px]">{{ noticia.titulo }}</h1>
    <div class="prose line-clamp-2 max-w-none leading-[1.2] text-[0.875rem] md:text-[1rem] font-source font-light text-black/80">{{ noticia.descripcion|safe }}</div>
</div>