{% load static %}
<!-- Otras Noticias Section -->
{% if noticia.imagenes %}
    <div class="w-full h-[6.5rem] md:h-[8rem] lg:h-[9rem]">
        <img class="w-full h-full object-top object-cover" 
            src="{{ noticia.imagenes.first.imagen.url }}"
            alt="Imagen de la noticia {{ noticia.titulo }}">
    </div>
{% endif %}
<small class="absolute top-0 right-0 px-2 py-1 lowercase bg-primary text-white text-[10px] md:text-[12px]"> {{ noticia.formatted_fecha }} </small>
<div class="grid py-2">
    <p class="text-[9.5px] font-sourceLight tracking-wider uppercase text-red-700 lg:text-[12px]"> {{ noticia.tipo }} </p>
    <h1 class="text-black font-sourceBold truncate text-[14px] lg:text-[19px]">{{ noticia.titulo }}</h1>
    <div class="prose line-clamp-2 max-w-none leading-[1.2] font-sourceLight text-black/80">{{ noticia.descripcion|safe }}</div>
</div>