{% load static %}
<!-- Otras Noticias Section -->
<div class="w-full h-[6.5rem] md:h-[8rem] lg:h-[9rem]">
{% if noticia.archivos.first.es_imagen %}
    <img class="w-full h-full object-top object-cover aspect-auto" 
        src="{{ noticia.archivos.first.archivo.url }}"
        alt="Imagen de la noticia {{ noticia.titulo }}" loading="lazy">
{% else%}
    <img class="w-full h-full object-top object-cover aspect-auto"
        src="{% static 'images/ineterpo.webp' %}"
        alt="Imagen de la noticia {{ noticia.titulo }}" loading="lazy">
{% endif %}
</div>
<small class="absolute top-0 right-0 px-2 py-1 lowercase bg-primary text-white text-[10px] md:text-[12px]"> {{ noticia.formatted_fecha }} </small>
<div class="grid py-2">
    <p class="text-[9.5px] font-source font-medium tracking-wider uppercase text-red-700 lg:text-[12px]">{{ noticia.tipo }}</p>
    <h1 class="text-black font-playfair font-semibold truncate text-[1rem] lg:text-[19px]">{{ noticia.titulo }}</h1>
    <div class="prose line-clamp-2 max-w-none leading-[1.2] text-[0.875rem] md:text-[1rem] font-source font-light text-black/80">{{ noticia.descripcion|safe }}</div>
</div>