<!-- Primer Noticia Section -->
{% load static %}

<div class="w-full h-[13rem] md:h-[18rem] lg:h-[22rem]">
{% if noticia.archivos.first.es_imagen %}
    <img class="w-full h-full object-top object-cover" 
        src="{{ noticia.archivos.first.archivo.url }}" 
        alt="Imagen de la noticia {{ noticia.titulo }}" loading="lazy">
{% else%}
    <img class="w-full h-full object-top object-cover"
        src="{% static 'images/ineterpo.webp' %}"
        alt="Imagen de la noticia {{ noticia.titulo }}" loading="lazy">
{% endif %}
</div>
<small class="absolute bg-primary px-3 py-2 text-white top-0 right-0 lowercase">{{ noticia.formatted_fecha }}</small>
<div class="grid py-2">
    <p class="text-[12px] text-red-700 font-sourceLight tracking-wider uppercase">{{ noticia.tipo }}</p>
    <h1 class="text-[1.1rem] md:text-[20px] truncate font-sourceBold text-black">{{ noticia.titulo }}</h1>
    <div class="prose line-clamp-2 max-w-none leading-[1.2] text-[0.875rem] md:text-base font-sourceLight text-black/80">{{ noticia.descripcion|safe }}</div>
</div>