{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="objetos">
    <div class="cabecera">
        <h1 class="objeto-titulo">{{ objeto.titulo }}</h1>
        <i class="objeto-fecha">{{ objeto.fecha }} </i>
    </div>
    
    {% if objeto.descripcion %}
    <div class="objeto-descripcion">
        <p class="descripciones">{{ objeto.descripcion }}</p>
    </div>
    {% endif %}
    
    {% if objeto.imagenes %}
    <div class="objeto-imagenes">
        <div class="objeto-carrusel">
            <button class="carrusel-boton carrusel-boton--izquierda">&lt;</button>
            <div class="objeto-imagenes-contenedor">
                {% for imagen_url in objeto.imagenes %}
                <div class="objeto-imagen">
                    <img src="{{ imagen_url }}" class="objeto-carrusel-imagen" alt="Imagen de {{ objeto.titulo }}">
                </div>
                {% endfor %}
            </div>
            <button class="carrusel-boton carrusel-boton--derecha">&gt;</button>
        </div>
    </div>
    {% else %}
    <p class="objeto-sin-imagenes">No hay imágenes disponibles para {{ objeto.tipo }}.</p>
    {% endif %}
</div>

<script src="{% static 'js/carrusel.js' %}"></script>
{% endblock %}
