{% extends 'base-principal.html' %}
{% block content %}

<section class="mision-vision">
    <h2 class="mision-vision__titulo">Más sobre nuestra visión y misión</h2>
    
    <div class="mision-vision__contenido">
        <p class="mision-vision__descripcion">
            Creemos firmemente en la educación como un proceso que promueve el aprendizaje y la socialización,
            permitiendo que personas de diferentes edades interactúen y aprendan juntas en un ambiente enriquecedor y colaborativo.
            Ya sea que su hijo o hija esté en la primera infancia, adolescencia, o sea un adulto en formación,
            nos comprometemos a ofrecer la atención y el acompañamiento que merecen, ayudándoles a desarrollar sus habilidades.
            Nuestro enfoque no solo está en fortalecer sus capacidades cognitivas, sino también en promover su desarrollo emocional,
            social y físico, para asegurar un crecimiento integral y continuo. Adaptamos nuestras metodologías educativas para satisfacer
            las necesidades individuales y grupales, asegurándonos de crear experiencias que despierten la curiosidad y
            el deseo de aprender a cualquier edad, a través del trabajo en equipo, la exploración y la práctica.
        </p>

        <ul class="mision-vision__lista">
            <li class="mision-vision__item">
                Nuestros programas incorporan las mejores prácticas educativas progresistas.
                Valoramos la individualidad de cada estudiante y apoyamos su desarrollo intelectual, social y emocional.
            </li>
            <li class="mision-vision__item">
                Contamos con una proporción adecuada de estudiantes por maestro, lo que fomenta el aprendizaje y el desarrollo.
                Invertimos en la capacitación, orientación y desarrollo de nuestros docentes para mejorar
                continuamente la experiencia educativa de nuestros estudiantes.
            </li>
            <li class="mision-vision__item">
                Nuestro compromiso es que usted y sus hijos se sientan cómodos y como en casa con nosotros.
                Por eso, le invitamos a visitar nuestras instalaciones y a conocer a nuestro personal.
            </li>
        </ul>
    </div>
</section>

{% endblock %}