{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/principal.css' %}">
<div class="principal-container">
    <h1 class="title">PRINCIPAL</h1>

    <div class="grid-container">
        <section class="block">
            <h2 class="subtitle">
                <img src="{% static 'icons/mision.ico' %}" width="40" alt="Misión">
                Misión
            </h2>
            <p class="block-text">
                La Institución Educativa Técnica Comercial Teófilo Roberto Potes, 
                pretende educar a sus estudiantes para responder a la realidad y necesidades de la sociedad y 
                proyectar su formación haciendo énfasis en el desarrollo de valores y actitudes que le permitan afrontar 
                los retos que el mundo contemporáneo exige con eficiencia y calidad.
            </p>
            <a href="" class="more-info-link">Más información</a>
        </section>

        <section class="block">
            <h2 class="subtitle">
                <img src="{% static 'icons/vision.ico' %}" width="40" alt="Visión">
                Visión
            </h2>
            <p class="block-text">
                La Institución Educativa Técnica Comercial Teófilo Roberto Potes, será en el 2025 una organización de formación integral, 
                innovadora permanentemente en su estrategia y metodología de acuerdo con las tendencias educativas, económicas y sociales, 
                proyectando a sus estudiantes eficientemente al campo laboral y profesional, teniendo como referente el contexto regional, 
                nacional e internacional.
            </p>
        </section>
    
        <section class="block">
            <h2 class="subtitle">
                <img src="{% static 'icons/gorro.ico' %}" width="40" alt="Reseña Histórica">
                Reseña Histórica
            </h2>
            <p class="block-text">
                El Colegio fue fundado en 1975 y se destacó en la enseñanza del comercio.
            </p>
        </section>
    
        <section class="block">
            <h2 class="subtitle">
                <img src="{% static 'icons/estrella.ico' %}" width="40" alt="Personal Calificado">
                Personal Altamente Calificado
            </h2>
            <p class="block-text">
                Nuestra visión es proporcionarle un entorno divertido, seguro, social y educativo. 
                Ofrecemos servicios para niños pequeños, en edad de jardín de niños, preescolar y escolar, 
                y contamos con un amigable personal de cualificados profesionales de cuidado infantil.
            </p>
        </section>

        <section class="block">
            <h2 class="subtitle">
                <img src="{% static 'icons/comunidad.ico' %}" width="40" alt="Comunidad Dinámica">
                Comunidad Dinámica
            </h2>
            <p class="block-text">
                Nuestra institución es capaz de responder eficientemente a los cambios y desafíos que se manifiestan en nuestro puerto. 
                Somos guías en la enseñanza del conocimiento en el comercio.
            </p>
        </section>

        <section class="block">
            <h2 class="subtitle">Manual de Convivencia</h2>
            <a href="https://drive.google.com/file/d/1yvVT9ImPHnOBWOaCpiK1KsaXTRrSRr95/view?usp=sharing" 
            target="_blank" 
            class="manual-link" 
            download>Abrir Manual de Convivencia</a>
        </section>
    </div>
</div>
{% endblock %}
