{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/titulo-imagen.css' %}">

<section class="elementos">
    <h1 class="title">{{ nombre_modelo|title|upper }}</h1>
    <div class="container">
        {% for objeto in objetos_simplificados %}
            <article class="item">
                {% if objeto.id %}
                    <a href="{% url 'detalle-objeto' modelo=nombre_modelo id=objeto.id titulo=objeto.titulo %}" class="link">
                    {% if objeto.primera_imagen %}
                        <img class="img" src="{{ objeto.primera_imagen }}" alt="{{ objeto.titulo }}">
                    {% endif %}
                        <h2 class="item__title">{{ objeto.titulo }}</h2>
                    </a>
                {% endif %}
            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
