{% extends 'index.html' %}{% load static %}

{% block content %}

<div class="grid gap-y-6 md:gap-y-10 mx-4 mb-8">
    <section class="flex flex-col bg-secundary py-4 shadow-md rounded-[10px]">
        <div class="flex items-center justify-center gap-8">
            <h1 class="font-sourceBlack text-[40px] md:text-[70px] text-white uppercase">{% block title %}{{ modelo }}{% endblock %}</h1> 
            <img class="w-16 h-16 md:w-24 md:h-24"
                src="{% static 'icons/header/notice.svg' %}" alt="">
        </div>
    </section>
    {% if noticias %}
        <section class="grid grid-cols-2 gap-4 mx-auto md:gap-y-6 md:gap-x-8 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
            {% for noticia in noticias %}
                <article class="m-auto relative items-hover w-[9.5rem] h-[12rem] md:w-[12rem] md:h-[13rem] lg:w-[14rem] lg:h-[15rem]">
                    <a href="{% url 'noticias:noticia' year=noticia.fecha.year month=noticia.fecha.month day=noticia.fecha.day id=noticia.id %}">
                        {% include 'components/OtrasNoticiasSection.html' %}
                    </a>
                </article>
            {% endfor %}
        </section>
    {% else %}
    <section class="mx-auto text-center border bg-slate-50 p-6 rounded-[10px]">
        <span class="text-lg">NO HAY CONTENIDO DISPONIBLE</span>
    </section>
    {% endif %}
</div>

{% endblock %}