{% extends 'index.html' %}{% load static %}

{% block content %}
<div class="grid gap-y-6 md:gap-y-10 mb-8">
    <section class="flex flex-col py-6 shadow-md fondo-noticias">
        <div class="flex items-center justify-center gap-8">
            <h1 class="font-source font-black text-[40px] md:text-[65px] text-white uppercase">{% block title %}{{ modelo }}{% endblock %}</h1> 
        </div>
        <div>
            <form method="get" class="relative w-full max-w-[600px] mx-auto mt-4 font-source rounded-[10px] overflow-hidden">
                <input type="text" name="search" placeholder="Buscar" class="w-full py-2 px-4 my-auto rounded-[10px]" value="{{ request.GET.search }}">
                <button type="submit" class="absolute bg-primary h-full px-2 right-0">
                    <img src="{% static 'icons/header/buscar.webp' %}" alt="Buscar" class="w-[14px] h-[14px] md:w-[18px] md:h-[18px] my-auto">
                </button>
            </form>
        </div>
    </section>
    {% if noticias %}
    <section class="grid grid-cols-2 gap-4 aspect-auto place-content-end place-items-center md:gap-y-4 md:gap-x-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
        {% for noticia in noticias %}
            <article class="m-auto relative aspect-auto {% if forloop.first %}col-span-2 row-span-2 w-[19rem] h-[19rem] md:w-[24rem] md:h-[24rem] lg:w-[28rem] lg:h-[28rem]{% else %}col-span-1 row-span-1 w-[9.5rem] h-[12rem] md:w-[12rem] md:h-[13rem] lg:w-[14rem] lg:h-[15rem]{% endif %} items-hover">
                   <a href="{% url 'noticias:noticia' year=noticia.fecha.year month=noticia.fecha.month day=noticia.fecha.day id=noticia.id %}">
                    {% if forloop.first %}
                        {% include 'components/PrimerNoticiasSection.html' %}
                    {% else %}
                        {% include 'components/OtrasNoticiasSection.html' %}
                    {% endif %}
                    </a>
            </article>
        {% endfor %}
    </section>
    <section class="mx-auto overflow-hidden text-white">
        <a class="inline-block w-fit border rounded-[10px] font-source font-semibold text-xl bg-primary px-16 py-2 text-center hover:underline" 
            href="{% url 'noticias:total_noticias' %}"> 
            Ver más noticias
        </a>
    </section>
    {% else %}
        <section class="mx-auto text-center border bg-slate-50 p-6 rounded-[10px]">
            <span class="text-lg text-black">NO HAY CONTENIDO DISPONIBLE</span>
        </section>
    {% endif %}
</div>
{% endblock %}