@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
    navigation: auto;
}

@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url('../fonts/SourceSansPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('../fonts/SourceSansPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro ExtraLight';
    src: url('../fonts/SourceSansPro-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../fonts/SourceSansPro-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro SemiBold';
    src: url('../fonts/SourceSansPro-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro Black';
    src: url('../fonts/SourceSansPro-Black.otf') format('opentype');
}

.inicio-item {
    @apply flex flex-col shadow-md bg-white px-4 py-2 gap-2 min-w-[300px] max-w-[400px];
    div {
        @apply flex items-center text-white gap-1 p-1 bg-secundary rounded-lg shadow;
    }

    h2 {
        @apply text-[1.3rem] font-sourceBold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
    
    img {
        @apply w-12 h-12 object-cover;
    }

    p {
        @apply text-lg font-sourceLight px-2;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
}

.aliados-flex {
    @apply flex-shrink-0 flex-grow-0 basis-full h-full p-1 flex items-center justify-center;
}

.items-hover:hover {
    h1 {
        @apply underline;
    }
}

@layer components {
.nav-link {
    @apply pt-2 pb-1 font-thin tracking-wider inline-block w-full text-[#f0f0f0] text-center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.nav-link:hover {
    @apply text-pink-300;
}

.nav-link::before {
    @apply content-[''] absolute bottom-0 left-0 lg:left-1/2 w-full lg:w-0 h-[2px] bg-pink-300 hover:w-full hover:left-0 transition-all duration-300 ease-in-out;
}
}