/* Contenedor de la cuadrícula */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 30px;
  padding: 30px
}

/* Bloques dentro de la cuadrícula */
.block {
  text-align: left;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  content-visibility: auto;
  contain-intrinsic-size: 300px; /* Ajusta según el tamaño promedio de cada bloque */
  border: 2px solid #a0d8c8;
}

.block:hover {
  transform: translateY(-8px);
  background-color: pink;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.block:hover .subtitle {
  color: #ffffff;
  text-shadow: none;
}

.block:hover .subtitle img {
  filter: brightness(0) invert(1);
}

.block:hover .block-text {
  text-shadow: 0 0 0.3px rgba(0, 0, 0, 5);
}

/* Alinear imagen con el texto en los subtítulos */
.subtitle img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
  filter: brightness(0) invert(0);
}

/* Estilos para los subtítulos */
.subtitle {
  display: flex;
  align-items: center;
  font-size: 1.6em;
  color: rgb(26, 26, 64);
  text-shadow: 0px 0px 2px rgba(26, 26, 64, 0.5);
  letter-spacing: 0.5px;
}

/* Estilos para los párrafos dentro de los bloques */
.block-text {
  line-height: 1.8;
  color: #333333;
  font-weight: 400;
  font-size: 1.08em;
  font-family: 'Open Sans', sans-serif;
}

/* Estilos para los enlaces */
.manual-link, .more-info-link {
  display: inline-block;
  margin-top: 10px;
  color: #006f25;
  text-decoration: none;
  transition: color 0.3s ease;
}

.manual-link:hover, .more-info-link:hover {
  color: #0f004d;
  text-decoration: underline;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }

  .block {
    padding: 25px;
    contain-intrinsic-size: 250px; /* Ajusta para dispositivos móviles */
  }

  .subtitle {
    font-size: 1.4em;
  }

  .block-text {
    font-size: 1em;
  }
}