/* Contenedor principal de elementos */
.elementos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    content-visibility: auto;
    contain-intrinsic-size: 1000px; /* Ajusta este valor según el contenido promedio */
}

/* Contenedor de elementos */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

/* Estilo de cada elemento */
.item {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    content-visibility: auto;
    contain-intrinsic-size: 300px; /* Ajusta según el tamaño promedio de cada elemento */
}

.item:hover {
    transform: translateY(-5px);
}

/* Estilo del enlace */
.link {
    display: block;
    text-decoration: none;
    color: inherit;
}

/* Estilo de la imagen */
.img {
    width: 100%;
    height: 200px;
    object-fit: cover 
}

/* Estilo del nombre */
.item__title {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center; 
    color: #f8f8f8;
    background-color: #333;
    margin: 0;
    height: 40px;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
    .item {
        width: calc(50% - 1rem);
        contain-intrinsic-size: 250px; /* Ajusta para dispositivos móviles */
    }
}

@media (max-width: 480px) {
    .item {
        width: 100%;
    }
}
