{% load static %}
<div class="slider">
    <ul>
        <li>
            <img
            src="https://d25vmi1tatpf6d.cloudfront.net/images/general/Estudiantes+en+Aula+Moderna+(1).png" alt="">
        </li>
        <li>
            <img
            src="https://d25vmi1tatpf6d.cloudfront.net/images/general/Estudiantes+en+Aula+Moderna+(1).png" alt="">
        </li>
        <li>
            <img
            src="https://d25vmi1tatpf6d.cloudfront.net/images/general/Estudiantes+en+Aula+Moderna+(1).png" alt="">
        </li>
        <li>
            <img
            src="https://d25vmi1tatpf6d.cloudfront.net/images/general/Estudiantes+en+Aula+Moderna+(1).png" alt="">
        </li>
    </ul>
</div>