{% load static %}
<section class="grid mx-auto grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 auto-rows-fr">

    <div class="inicio-item">
        <h2>Manual de convivencia</h2>
    <a class="underline underline-offset-2" target="_blank"
        href="https://drive.google.com/file/d/1yvVT9ImPHnOBWOaCpiK1KsaXTRrSRr95/view">Miralo aquí</a>
</div>
<div class="inicio-item">
    <div>
        <img src="{% static 'icons/inicio/estrella.svg' %}" alt="">
        <h2>Ambiente divertido y participativo</h2>
    </div>
    <p>La primera experiencia de su hijo es una de las más importantes, por eso nuestros profesores se aseguran de ofrecer un ambiente divertido, cálido y seguro para que su hijo aprenda.</p>
</div>
<div class="inicio-item">
    <div>
        <img src="{% static 'icons/inicio/frasco.svg' %}" alt="">
        <h2>Personal altamente calificado</h2>
    </div>
    <p>Nuestra visión es proporcionarle un entorno divertido, seguro, social y educativo. Ofrecemos servicios para niños pequeños, en edad de jardín de niños, preescolar y escolar, y contamos con un amigable personal de cualificados profesionales de cuidado infantil.</p>
</div>
<div class="inicio-item">
    <div>
        <img src="{% static 'icons/inicio/paquete.svg' %}" alt="">
        <h2>La seguridad primero</h2>
    </div>
    <p>Nuestro compromiso es que usted y sus hijos se sientan cómodos y en casa con nosotros, por eso le invitamos a visitar nuestras instalaciones y a conocer a nuestro personal.</p>
</div>
<div class="inicio-item">
    <div>
        <img src="{% static 'icons/inicio/megafono.webp' %}" alt="">
        <h2>Comunidad dinamica</h2>
    </div>
    <p>Ofrecemos los servicios de cuidado infantil de la más alta calidad. Estamos comprometidos en ofrecer a todos y cada uno de los niños que atraviesan nuestra puerta un ambiente seguro y divertido.</p>
</div>
</section>