<div class="bg-[#dfe1e490] flex flex-wrap items-center justify-between px-6 py-8 gap-4 lg:p-12 lg:gap-6">
    <div class="bg-primary rounded-full w-16 h-16 md:w-20 md:h-20 flex justify-center items-center">
        <img src="https://d25vmi1tatpf6d.cloudfront.net/images/general/documento.png" alt="Archivo" class="w-10 h-10 md:w-12 md:h-12 ml-2" loading="lazy">
    </div>
    <div class="flex flex-col gap-y-2">
        <h2 class="font-playfair text-primary font-black text-[20px] md:text-[24px]">Manual de convivencia</h2>
        <p class="max-w-[80ch] font-source font-light text-[1.1rem]">Conoce las normas, valores y compromisos que guían nuestra vida institucional. Es fundamental para fortalecer una comunidad educativa respetuosa, participativa y armoniosa.</p>
    </div>
    <a class="font-source font-medium border-[#006400] border-2 px-4 py-2 shadow-sm" target="_blank"
        href="https://drive.google.com/file/d/1yvVT9ImPHnOBWOaCpiK1KsaXTRrSRr95/view">
            Descarga el manual 
    </a>
</div>