<section class="flex-1 flex m-auto flex-col gap-6 py-8 px-6 md:gap-8 w-full h-full items-center justify-center">
    <img class="w-32 h-32 mx-auto md:w-46 md:h-46 drop-shadow-lg" loading="lazy"
         src="https://d25vmi1tatpf6d.cloudfront.net/images/general/zeti.png" alt="">
    <div class="flex flex-col gap-4 items-center justify-center bg-[#F4F5F7] p-6 rounded-lg shadow-lg">
        <p class="font-source font-light text-[18px]">Accede a la plataforma ZETI para revisar tus calificaciones, informes periódicos, observaciones y más. Una herramienta ágil y segura que facilita la comunicación entre la institución y estudiantes.</p>
        <a class="mx-auto font-source font-medium bg-[#5bc0de] px-4 py-2 shadow-lg text-white text-[16px]" target="_blank"
            href="https://zeti.co/login/?next=/dashboard/">Entra aquí</a>
    </div>
</section>