<section class="flex-1 flex flex-col gap-6 py-8 px-6">
    <img class="w-28 h-28 mx-auto md:w-40 md:h-40" loading="lazy"
         src="https://d25vmi1tatpf6d.cloudfront.net/images/general/zeti.png" alt="">
    <p class="font-source font-light text-[1.1rem]">Accede a la plataforma ZETI para revisar tus calificaciones, informes periódicos, observaciones y más. Una herramienta ágil y segura que facilita la comunicación entre la institución, estudiantes y familias.</p>
    <a class="mx-auto font-source font-medium bg-[#5bc0de] px-4 py-2 shadow-sm text-white" target="_blank"
        href="https://zeti.co/login/?next=/dashboard/">Entra aquí</a>
</section>